/*---------------------------------------------------------------------------------------------*/
/*-------------------------------------CSS for all pages---------------------------------------*/
/*----------------------------------------§§§--------------------------------------------------*/

                                    /*font à utiliser*/
/*BEYNO*/
@font-face {
    font-family: BEYNO;
    src: url("../fonts/BEYNO/BEYNO.ttf");
}
/*Panthera*/
@font-face {
    font-family: Panthera;
    src: url(../fonts/Panthera/PantheraRegular-MVZ9J.ttf);
}
/*Wakanda forever*/
@font-face {
    font-family: Wakanda forever;
    src: url(../fonts/Wakanda/WakandaForever-Regular.ttf);
}
/*Cantarell*/
@font-face {
    font-family: Cantarell;
    src: url(../fonts/Cantarell/Cantarell-Regular.ttf);
}
/*couleurs*/
:root{
    --blanc: #FFFFFF;
    --blanc-rose: #F2CEF2;
    --gris-clair: #9E91B7;
    --rose-foncee: #DF99F2;
    --violet: #3D2DA6;
    --bleu-noir: #07338C;
    --noir:#021740; /* rgb(2,23,64) */
}
html {
    font-size: 1vw;
    font-family: "Cantarell";
    margin-bottom: 3.66vw;
    overflow-x: hidden;
}
/*animation menu de navigation*/
#header .style-header a:hover{
    color: var(--blanc);
    text-decoration: underline;
}

/* animation enigme boutton ENVOYER || Effet de surbrillance */
.langage button[type='submit']:hover {
    box-shadow: 0px 0px 20px #F2CEF2;
    cursor: pointer;
}

/*animation contact boutton ENVOYER*/
.contact button[type='submit']:hover{
    box-shadow: 0px 0px 20px #021740;
}

/*animation logo reseaux sociaux || coloration*/
.container .vertical-icon ul a img:hover{
    filter: brightness(0) invert(1) grayscale(100%) brightness(1);
}

/*animation logo header || coloration*/
.style-header .logo a img:hover{
    filter: brightness(70%) saturate(200%) contrast(150%) hue-rotate(270deg);
}

/*animation footer || zoom*/
.image-footer:hover{
    transform: scale(1.1);
}
.right-footer img:hover{
    transform: scale(1.1);
}

/* definition fade in venant de gauche*/
@keyframes fade-in {
    from {
        opacity: 0; /* from opacity 0 */
        transform: translateX(-50px); /* from left -50px */
    }
    to {
        opacity: 1; /* to opacity 1 */
        transform: translateX(0); /* to true position */
    }
}

/* Fade in */
section, .container, #header {
    animation-name: fade-in;
    animation-duration: 3s;
}

/* animation aside page d'accueil || position fixe */
.scrolling {
    position: fixed;
}
/*animation boutton A propos et Wakanda*/
.footer .right-footer .suivre .suivre-page p a{
    text-decoration: none;
    color: var(--blanc);
}